$default-font: "Roboto", sans-serif;

$dark: #242a2e;
$accent: #2fc0d0;

// добавлять через @extend %...
%roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
