@import "vars";
@import "fonts";

@import "global";

@import "menu";

// header =================================================

.header {
  position: fixed;
  width: 100%;
  z-index: 5;

  // временно - удалить
  //background-color: $dark;

  &__inner {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: $accent;
    border-radius: 10px;
  }

  &__logo {
    width: 40px;
    height: 40px;

    border: 2px solid $accent;
    border-radius: 50%;
    overflow: hidden;
  }

  &__title {
    color: #ffffff;
    margin-left: 20px;
  }

  &__name {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__menu {
    margin-left: auto;
  }
}
// page-main и page-section ===============================

.page-section {
  position: relative;
  min-height: 100vh;
  padding-top: 150px;
}

// developer section ======================================

.developer {
  padding-top: 170px;

  &__inner {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
  }

  &__title {
    font-size: 60px;
    letter-spacing: 2%;
  }

  &__prof {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2%;
    color: #8c8c8c;
  }

  &__description {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2%;
  }

  &__box {
    margin-bottom: 32%;
  }

  &__buttons {
    display: flex;
    //flex-direction: column;
    align-items: flex-start;
  }

  &__btn {
    display: block;
    padding: 12px 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2%;
    text-decoration: none;
    color: #ffffff;
    background-color: $accent;
    border: 1px solid $accent;
    border-radius: 7px;

    transition: all 0.3s ease 0s;

    &:hover {
      color: $accent;
      background-color: transparent;
    }

    &--inverted {
      color: $accent;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: $accent;
      }
    }
  }

  &__portrait {
    position: absolute;
    right: 0;
    bottom: -32px;
    width: 63%;
  }
}

// scroll-btn =============================================

.scroll-btn {
  position: absolute;
  bottom: 20px;
  right: 50%;
  margin-right: -5px;
}

// portfolio ==============================================

.portfolio {
  background-color: rgba($color: $accent, $alpha: 0.4);

  &__title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2%;
  }

  &__description {
    letter-spacing: 2%;
  }

  &__tags {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 305px;
    height: 240px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
}

// tags ===================================================

.tags {
  display: flex;

  &__item {
    display: block;
    padding: 3px 20px;
    margin-right: 10px;

    font-size: 14px;
    color: $accent;

    background-color: #ffffff;
    border-radius: 10px;
  }
}
